h1 {
  font-family: aviano-future,sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  font-size: 3em;

}

h3 {
  font-family: paralucent-condensed,sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 2em;
}

.Programs {
  font-size: 1.7em;
}

#CCIcons {
  justify-content: center;
}



.ContactMe {
  text-align: center;

}
.Email {




}


 nav li {
   list-style: none;
   display:inline-block;
   margin-right: 10px;

 }

.premiere_wrapper {
  background-color: black;
}


#navigation{

}

nav li a {
  text-decoration:none;
  font-family: paralucent-condensed,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;


}


.Text{
  font-size: 1.8em;
}



.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

#myCarousel .carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 33%;
  height: 375px;
  margin-right: 6px;


  background-color: #eee;
  border-radius: 6px;
}

#myCarousel img {
  width: 100%;
}

nav a hover {
  color: white;
}
body {
  background-color: grey;
}

.Me {
  border: 3px solid black;
  margin-bottom: 15px;
}

nav ul {
  text-decoration: none;
  font-size: 1.7em;

}

p {
font-family: marigny, sans-serif;
font-weight: 500;
font-style: italic;
text-align: center;
padding: 10px;
}

.CEText {
  color: white;
  font-size: 1.5em;
}


.Cyberpunk {
  height: 420px;
  width: 700px;
}


.Guitar {
  width: 570px;
  height: 420px;
}


.Bioshock {
  width: 960px;
  height: 540px;
}
